{% extends 'ImageGalleryBundle::layout.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}

        {% set albumId = album.id %}
        <article class="gallery">
            <header class="images-{{ album.id }}">
                <h2>{{ album.name }}</h2>
            </header>
            <div class="images-{{ album.id }}">
                {% for image in paginations[albumId] %}
                    <img src="{{ asset(['images/', image.name]|join) }}" alt="{{ image.name }} image not found" class="large" />
                {% endfor %}

                <div class="navigation">
                    {{ knp_pagination_render(paginations[albumId]) }}
                </div>
            </div>
        </article>

{% endblock %}

{% block javascripts %}
{% endblock %}